<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Gentle、L的博客 | 注册</title>

    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="/mycss/amazeui.min.css">
    <link rel="stylesheet" href="/mycss/app.css">
</head>
<body>
<header>
    <div class="log-re">
        <a class="am-btn am-btn-primary am-radius" href="/login">登 录</a>
    </div>
</header>

<div class="log">
    <div class="am-g">
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-8 am-u-sm-centered log-content">
            <h1 class="log-title am-animation-slide-top">Gentle、Li</h1>
            <br>
            <form class="am-form" method="post" action="/register" id="reg-form">
                {{ .xsrfdata }}
                <div class="am-input-group am-radius am-animation-slide-left">
                    <input type="text" class="am-radius" name="username" placeholder="用户名" required/>
                    <span class="am-input-group-label log-icon am-radius"><i class="am-icon-user am-icon-sm am-icon-fw"></i></span>
                </div>
                <br>
                <div class="am-input-group am-animation-slide-left log-animation-delay">
                    <input type="password" class="am-form-field am-radius log-input" name="password1" placeholder="密码" required>
                    <span class="am-input-group-label log-icon am-radius"><i class="am-icon-lock am-icon-sm am-icon-fw"></i></span>
                </div>
                <br>
                <div class="am-input-group am-animation-slide-left log-animation-delay-a">
                    <input type="password" class="am-form-field am-radius log-input" name="password2" placeholder="确认密码" required>
                    <span class="am-input-group-label log-icon am-radius"><i class="am-icon-lock am-icon-sm am-icon-fw"></i></span>
                </div>
                <br>
                <p class="am-animation-slide-bottom am-text-primary log-animation-delay">
                    <strong>{{ .flash.error }}</strong>
                </p>
                <button type="submit" class="am-btn am-btn-primary am-btn-block am-btn-lg am-radius am-animation-slide-bottom log-animation-delay-b">注 册</button>
                <br>
            </form>
        </div>
    </div>
    <footer class="log-footer">
        © 2019 Gentle、Li
    </footer>
</div>


<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/myjs/jquery.min.js"></script>
<!--<![endif]-->

<script src="/myjs/amazeui.min.js"></script>
</body>
</html>
