<!-- content start -->
<div class="am-u-md-12 am-u-sm-12">

    {{ range $index, $ele := .Articles }}
    <article class="am-g blog-entry-article">
        <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
            <img src="/myi/f10.jpg" alt="" class="am-u-sm-12">
        </div>
        <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
            <h1><a href="/nugget/a/{{ $ele.Id }}">{{ $ele.Title }}</a></h1>
            <p>
                <span><i class="am-icon am-icon-clock-o"></i> {{ formatDate $ele.CatchAt }}</span>
            </p>
        </div>
    </article>
    {{ end }}

    {{ if gt .Paginator.PageNums 1 }}
    <ul class="am-pagination">
        {{ range $index, $page := .Paginator.Pages}}
        <li {{ if $.Paginator.IsActive $page }} class="am-active" {{ end }}>
            <a href="{{ $.Paginator.PageLink $page }}">{{ $page }}</a>
        </li>
        {{end}}
    </ul>
    {{ end }}

</div>
<!-- content end -->
