<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="{{or .keywords .appTitle}}">
    <meta name="description" content="{{.appTitle}}--专注技术分享">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="icon" type="image/png" href="/static/favicon.png">

    <title>{{.appTitle}}｜专注技术分享</title>

    {{assets_css "/css/amazeui.min.css"}}
    {{assets_css "/css/app.css"}}

    <style>
        textarea {
            resize: none;
            overflow: auto;
        }

        .blog-tag {
            margin-right: 5px;
            margin-bottom: 5px;
        }

        .recommend {
            text-align: left;
        }

        .back-top {
            position: fixed;
            top: 73%;
            left: 93%;
        }

        .back-bottom {
            position: fixed;
            top: 78%;
            left: 93%;
        }
    </style>

    {{.Style}}


    <script>
        // 百度统计代码
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?2db9907a6825b3b55907a1960e76b584";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body id="blog">

{{template "layouts/header.html" .}}

<div class="am-g am-g-fixed blog-fixed blog-content">
    {{.xsrfdata}}

    {{.LayoutContent}}
</div>

{{template "layouts/footer.html" .}}

{{assets_js "/js/jquery.min.js"}}
{{assets_js "/js/amazeui.min.js"}}

{{if .showTB}}
    <div class="back-top">
        <a class="am-btn am-btn-default am-circle" href="#header">
            <i class="am-icon am-icon-arrow-up"></i>
        </a>
    </div>
    <div class="back-bottom">
        <a class="am-btn am-btn-default am-circle" href="#footer">
            <i class="am-icon am-icon-arrow-down"></i>
        </a>
    </div>
{{end}}

<script>
    // 全局token
    let GToken = $('input[name=_xsrf]').val();

    $(function () {
        let path = window.location.pathname;

        // 高亮菜单栏
        if (path === '/') {
            $('.am-nav').find('a[href="' + path + '"]').parent('li').addClass('am-active');
        } else if (path.match(/articles.*?/)) {
            $('.nav-cates').css('color', '#10D07A');
        } else if (path.match(/tools.*/)) {
            $('.nav-tools').css('color', '#10D07A');
        } else if (path.match(/resource.*/)) {
            $('.nav-resource').css('color', '#10D07A');
        }

        $('.search-value').on('keyup', function (e) {
            if (e.keyCode == "13") {
                if ($(this).val().length > 0) {
                    window.location.href = '{{urlfor "ArticleController.Get"}}' + '?search=' + $(this).val();
                } else {
                    window.location.href = '{{urlfor "IndexController.Get"}}';
                }
            }
        })
    })
</script>


{{.Script}}

</body>
</html>
