<div class="am-u-md-4 am-u-sm-12 blog-sidebar">
    <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
        <h2 class="blog-title"><span>标签云</span></h2>
        <div class="am-u-sm-12 blog-clear-padding">
            {{range $t := .tags}}
                <a href="{{urlfor "ArticleController.Get"}}?tid={{$t.Id}}" class="blog-tag">{{$t.Name}}</a>
            {{end}}
        </div>
    </div>
    <div class="blog-sidebar-widget blog-bor">
        <h2 class="blog-title"><span>猜你喜欢</span></h2>
        <ul class="am-list">
            {{range  $a := .recommends}}
                <li class="recommend">
                    <a href="{{urlfor "ArticleController.GetArticleDetail" ":id" $a.Id}}">{{getTitle $a.Title 15}}</a>
                </li>
            {{end}}
        </ul>
    </div>
    <div class="blog-sidebar-widget blog-bor">
        <h2 class="blog-text-center blog-title"><span>文章归档</span></h2>
        <ul>
            {{range $a := .archive}}
                <li style="text-align: left"><a href="{{urlfor "ArticleController.Get"}}?date={{$a.Date}}">{{$a.Date}}（{{$a.Num}}）</a></li>
            {{end}}
        </ul>
    </div>
</div>
