<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="勤劳的码农">
    <meta name="description" content="勤劳的码农，分享技术、干货">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>勤劳的码农</title>

    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="/mycss/amazeui.min.css">
    <link rel="stylesheet" href="/mycss/app.css">

    {{ .Style }}

</head>

<body id="blog">

{{ template "home/layouts/header.html" . }}

<div class="am-g am-g-fixed blog-fixed blog-content">

    {{ .LayoutContent }}

</div>

{{ template "home/layouts/footer.html" }}

<script src="/myjs/jquery.min.js"></script>
<script src="/myjs/amazeui.min.js"></script>
<script>
    $(function () {
        // let path = window.location.pathname;
        //
        // // 高亮菜单栏
        // if (path == '/') {
        //     $('.am-nav').find('a[href="' + path + '"]').parent('li').addClass('am-active');
        // } else if (path.match(/cate.*?/)) {
        //     $('.cates').css('color', '#10D07A');
        // } else if (path.match(/nugget\/c\/.*?/)) {
        //     $('.nuggets').css('color', '#10D07A');
        //     $('.blog-sidebar').hide();
        // } else if (path.match(/tag.*?/)) {
        //     $('.search-value').hide();
        //     $('.cates').css('color', '#10D07A');
        // } else if (path.match(/article.*?/)) {
        //     $('.search-value').hide();
        //     $('.cates').css('color', '#10D07A');
        // } else if (path.match(/nugget\/a\/.*?/)) {
        //     $('.search-value').hide();
        //     $('.nuggets').css('color', '#10D07A');
        //     $('.blog-sidebar').hide();
        // }
        //
        // $('.search-value').on('keyup', function (e) {
        //     if (e.keyCode == "13") {
        //         window.location.href = path + '?search=' + $(this).val()
        //     }
        // })
    })
</script>

{{ .Script }}

</body>
</html>
