<script>
    function getResult(obj) {
        let form = $(obj).parents('form'),
            rawData = form.find('#raw').val(),
            aesKey = form.find('#aes-key').val(),
            opt = form.find('input[name=opt]:checked').val();

        form.find('.error').text('');

        $.ajax({
            url: '{{urlfor "ToolController.CalculateAes"}}',
            type: 'post',
            dataType: 'json',
            data: {
                _xsrf: GToken,
                rawData: rawData,
                aesKey: aesKey,
                opt: opt
            },
            beforeSend: function () {
                if (rawData.length === 0) {
                    form.find('.error').text('请输入原始数据');
                    return false;
                }

                if (aesKey.length === 0) {
                    form.find('.error').text('请输入AES KEY');
                    return false;
                }

                if (opt != 1 && opt != 2) {
                    form.find('.error').text('请选择正确的操作类型');
                    return false;
                }
            },
            success: function (data) {
                if (data.code === 200) {
                    form.find('#result').val(data.data);
                } else {
                    form.find('#result').val('');
                    form.find('.error').text(data.msg);
                }
            }
        })
    }
</script>