<script>
    /**
     * 获取上一篇文章
     *
     * @param bid
     */
    function getPrev(bid) {
        if (bid > 0) {
            window.location.href = '/article/' + bid;
        } else {
            alert('已经到头了！');
        }
    }

    /**
     * 获取下一篇文章
     *
     * @param aid
     */
    function getAfter(aid) {
        if (aid > 0) {
            window.location.href = '/article/' + aid;
        } else {
            alert('已经到头了！');
        }
    }

    /**
     * 评论功能
     * @param obj
     */
    function comment(obj) {
        let fieldset = $(obj).parents('fieldset'),
            id = fieldset.find('[name=id]').val(),
            content = fieldset.find('.content').val();

        $.ajax({
            url: '/comment',
            type: 'post',
            data: {
                _xsrf: $('[name=_xsrf]').val(),
                aid: id,
                content: content
            },
            success: function (data) {
                if (data.code !== 200) {
                    alert(data.message);
                } else {
                    window.location.reload();
                }
            },
            error: function () {
                alert('评论失败');
            }
        })
    }
</script>
