<!-- content start -->
<div class="am-u-md-8 am-u-sm-12">
    <article class="am-article blog-article-p">
        <div class="am-article-hd">
            <h1 class="am-article-title blog-text-center">{{ .Info.Title }}</h1>
            <p class="am-article-meta blog-text-center">
                <span class="am-icon-tags"> &nbsp;</span>
                <a href="javascript:;">{{ .Info.Tags  }}</a>

                <span class="am-icon-clock-o" style="margin-left: 20px;"> &nbsp;</span>
                <a href="javascript:;">{{ dateformat .Info.CreatedAt "2006/01/02 15:04:05" }}</a>
            </p>
        </div>
        <div class="am-article-bd">
            <img src="/i/f10.jpg" alt="" class="blog-entry-img blog-article-margin">
            <blockquote>
                {{ .Info.Desc }}
            </blockquote>

            {{ str2html .Info.Content }}
        </div>
    </article>

    <hr>
    <ul class="am-pagination blog-article-margin">
        <li class="am-pagination-prev"><a href="javascript:;" onclick="getPrev('{{ .Before }}')">&laquo; 上一篇</a></li>
        <li class="am-pagination-next"><a href="javascript:;" onclick="getAfter('{{ .After }}')">下一篇 &raquo;</a></li>
    </ul>

    <hr>

    <form id="comment" class="am-form am-g">
        <h3 class="blog-comment">评论</h3>
        <fieldset>
            <input type="hidden" name="id" value="{{ .Info.Id }}">
            <input type="hidden" name="_xsrf" value="{{ .xsrf_token }}">
            <div class="am-form-group">
                <textarea class="content" rows="5" placeholder="一字千金" style="resize: none"></textarea>
            </div>

            <p>
                <button type="button" class="am-btn am-btn-default" onclick="comment(this)">发表评论</button>
            </p>
        </fieldset>
    </form>

    <hr>

    {{ range $index, $ele := .Comments }}
    <!--评论列表-->
    <article class="am-comment" style="margin-bottom: 20px">
        <a href="javascript:;">
            <img src="/static/favicon.png" alt="" class="am-comment-avatar" width="48" height="48"/>
        </a>

        <div class="am-comment-main">
            <header class="am-comment-hd">
                <div class="am-comment-meta">
                    <a href="#link-to-user" class="am-comment-author">{{ $ele.Username }}</a>
                    评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">{{ $ele.CreatedAt }}</time>
                </div>
            </header>

            <div class="am-comment-bd">
                {{ $ele.Content }}
            </div>
        </div>
    </article>

    {{ end }}
</div>
<!-- content end -->
