<script>
    /**
     * 点赞/取消点赞功能
     * @param id
     * @param obj
     */
    function favor(id, obj) {
        $.get('/favor/' + id, function (data) {
            if (data.code === 200) {
                // 判断是点赞还是取消点赞
                if (data.message.indexOf('Favor') > -1) {
                    $(obj).find('i').addClass('favored');
                    $(obj).find('.favor-num').text(eval($(obj).find('.favor-num').text()) + 1)
                } else {
                    $(obj).find('i').removeClass('favored');
                    if (eval($(obj).find('.favor-num').text()) - 1 < 0) {
                        $(obj).find('.favor-num').text(0)
                    } else {
                        $(obj).find('.favor-num').text(eval($(obj).find('.favor-num').text()) - 1)
                    }
                }
            } else {
                alert(data.message);
            }
        }, 'json');
    }
</script>
