{{/* 轮播图 */}}
<div class="am-u-md-8 am-u-sm-12">
    <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{"animation":"slide",
        "slideshow":true}'>
        <ul class="am-slides">
            <li>
                <a href="">
                    <img src="http://amazeui.shopxo.net/static/images/001.jpg">
                    <span class="am-slider-desc">这是标题标题标题标题标题标题标题0</span>
                </a>
            </li>
        </ul>
    </div>


    {{ range $index, $ele := .Articles }}
        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <img src="/i/f10.jpg" alt="" class="am-u-sm-12">
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <h1><a href="/article/{{ $ele.Id }}">{{ $ele.Title }}</a></h1>
                <p>
                    <span style="cursor:pointer;margin-right: 10px" onclick="favor('{{ $ele.Id }}', this)">
                        <i class="am-icon am-icon-thumbs-o-up {{ if $ele.IsFavored }} favored {{ end }}"></i>
                        <span class="favor-num">{{ $ele.FavorNum }}</span>
                    </span>
                    <span style="cursor:pointer;margin-right: 10px">
                        <a href="/article/{{ $ele.Id }}#comment">
                            <i class="am-icon am-icon-comment-o"></i>
                        </a>
                        <span class="comment-num">{{ $ele.CommentNum }}</span>
                    </span>
                    <span>
                        <i class="am-icon am-icon-clock-o"></i>
                        {{ dateformat $ele.CreatedAt "2006/01/02 15:04:05" }}
                    </span>
                </p>
                <p>{{ $ele.Desc }}</p>
            </div>
        </article>
    {{ end }}

    {{ if gt .Paginator.PageNums 1 }}
        <ul class="am-pagination">
            {{ range $index, $page := .Paginator.Pages}}
                <li {{ if $.Paginator.IsActive $page }} class="am-active" {{ end }}>
                    <a href="{{ $.Paginator.PageLink $page }}">{{ $page }}</a>
                </li>
            {{end}}
        </ul>
    {{ end }}

</div>

{{ template "layouts/right.html" }}
