<script>
    function login(obj) {
        let form = $(obj).parents('#log-form'),
            username = form.find('input[name=username]').val(),
            password = form.find('input[name=password]').val(),
            token = form.find('input[name=_xsrf]').val();

        $.ajax({
            url: '{{ urlfor "AuthController.DoLogin" }}',
            type: 'post',
            dataType: 'json',
            data: {
                _xsrf: token,
                username: username,
                password: password
            },
            success: function (data) {
                if (data.code != 200) {
                    $('.error').text(data.msg);
                } else {
                    window.location.href = '{{ urlfor "IndexController.Get" }}'
                }
            }
        })
    }
</script>